* {
  margin: 0;
}

body {
  display: flex;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Norse-Bold';
  src: url('./assets/Norse-Bold.otf');
}

.header {
  flex: 1;
  background-image: url(./assets/plants.avif);
  background-size: cover;
  height: 100vh;
  color: white;
  font-size: 3rem;
  position: relative;
}

img {
  height: 1em;
}

h1 {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 200px;
  text-align: center;
  font-family: 'Norse-Bold';
}

.header p {
  font-size: 0.75rem;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.header a:visited {
  color: white;
}

.main {
  flex: 3;
}

.form-header {
  font-weight: bold;
  font-size: 1.25rem;
  background-color: rgb(246, 246, 246);
  padding: 100px 50px 50px 0px;
}

.form-header p {
  width: 75%;
}

.form-header p:nth-child(2) {
  margin-top: 20px;
}

.form-row {
  display: flex;
}

.form-row:first-child {
  margin-right: 30px;
}

.form-element {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-element, 
h2,
p,
.submit {
  margin: 10px 30px;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
}

.submit {
  background-color: #596D48;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  font-weight: bold;
}

input:focus {
  border-color: blue;
}

input:invalid {
  border-color: red;
}